.disclaimer-premium{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #509b56, #509bf5);
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
}

.disclaimer-premium .text{
    flex-shrink: 0;
}

.disclaimer-premium .disclaimer-premium-title{
    color: #fff;
    text-transform: uppercase; /*maiúsculo*/
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 10px;
}

.disclaimer-premium .disclaimer-premium-subtitle{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}

.disclaimer-premium button{
    background-color: #fff;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
    flex-shrink: 0;
}